<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CRM TNT</a>
    </div>
    <!-- /.navbar-header -->

            <div class="navbar-collapse collapse navbar-right"style="margin-right: 5%">
                    <ul class="nav navbar-nav">
                        <li class="active"><a >Accueil</a>
                        </li>
                        <li style="cursor: pointer;"><a routerLink="/supervideur">Superviseur</a>
                        </li>
                        <li style="cursor: pointer;"><a routerLink="/commerciale">Commerciale</a></li>
                         
                       
                       
                    </ul>
                </div>
                <!--/.nav-collapse
                 <ul class="nav navbar-nav">
                        <li class="active" style="margin-right: 5%;cursor: pointer;"><a >Accueil</a>
                        </li>
                        <li class="active" style="margin-right: 0%;cursor: pointer;"><a >Superviseur</a>
                        </li>
                        <li class="active" style="margin-right: 0%;cursor: pointer;"><a >Commerciale</a>
                        </li>
                      
                    </ul> -->
</nav>
<div>
    <router-outlet></router-outlet>
</div>

