<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CRM TNT</a>
  </div>
  <!-- /.navbar-header -->

          <div class="navbar-collapse collapse navbar-right"style="margin-right: 5%">
                  <ul class="nav navbar-nav">
                      <li class="active"><a >Accueil</a>
                      </li>
                      <li style="cursor: pointer;"><a routerLink="/commerciale" routerLinkActive="active">Commerciale</a></li>
                      <li style="cursor: pointer;"><a routerLink="/login" routerLinkActive="active">Déconnexion</a></li>
                 
                    </ul>
              </div>
             
</nav>
<div class="container col-md-12 primary" >
  <div class="panel">
    <div class="panel-heading" ></div>
    <div class="panel panel-body">
         <div class="form-group" >
            <button class="btn btn-primary" (click)="listeA()" style="margin-left: 40%;cursor: pointer;" >Liste Appel</button>
            <button class="btn btn-primary" (click)="porte()" style="margin-left: 3%;cursor: pointer;">Porte Feuille</button>
          </div>
         
          <div *ngIf="liste==0">
              <div class="form-group col-md-6">
                  <input  class="form-control" type="text" name="filtre" required
                   [(ngModel)]="filtres"
                  #name="ngModel" placeholder="Filtrer" >
              </div>
              <table class="table table-bordered table-stripped">
              <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Option</th>
              </tr>
                  <tr *ngFor="let a of listeAppel | filterBy: ['Firstname']: filtres;let i=index" >
                      <td>{{a.Firstname}}</td>
                      <td>{{a.Lastname}}</td>
                      <td>{{a.Phone}}</td>
                      <td><span style="margin-left: 5%;cursor: pointer;" (click)="getTel(i);openModal1(template1)" title="etat" class="glyphicon  glyphicon-stats"></span>
                          <span style="margin-left: 5%;cursor: pointer;" (click)="openModal3(template3)" title="abonner" class="glyphicon glyphicon-saved"></span>
                         <span style="margin-left: 5%;cursor: pointer;" (click)="openModal2(template2)" title="Catégoriser" class="glyphicon  glyphicon-comment"></span>
                          <span style="margin-left: 5%;cursor: pointer;"(click)="getTelCat(i)" title="finalisé" class="glyphicon 	glyphicon glyphicon-ok"></span>
                      </td>
                   </tr> 
            </table>
          </div>
          <div *ngIf="port==1">
               <div class="form-group">
                   <a class="btn btn-default" style="margin-left: 2%;cursor: pointer;" (click)="tout()"> tout afficher</a>
                    <a class="btn btn-danger" style="margin-left: 10%;cursor: pointer;" (click)="rouge()"> non abonné</a>
                    <a class="btn btn-warning" style="margin-left: 2%;cursor: pointer;" (click)="orange()"> abonné delais proche</a>
                    <a class="btn btn-success" style="margin-left: 2%;cursor: pointer;" (click)="vert()"> abonné</a>
                    
               </div>
              <table class="table table-bordered table-stripped">
                <tr>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Téléphone</th>
                  <th>Commantaire</th>
                  <th>Option</th>
                </tr>
                    <tr *ngFor="let a of listePorteFeuille | filterBy: ['etat']: filtrePortFeuille;let i=index"  [ngStyle]="{'background-color':getColor(a.etat)}">
                      <td>{{a.Firstname}}</td>
                      <td>{{a.Lastname}}</td>
                      <td>{{a.Phone}}</td>
                        <td ><span style="margin-left: 5%;cursor: pointer;" title="etat" class="glyphicon glyphicon glyphicon-bookmark"></span>
                            <span style="margin-left: 5%;cursor: pointer;" (click)="abonner(i)"  title="abonné" class="glyphicon  glyphicon-saved"></span>
                           <span style="margin-left: 5%;cursor: pointer;"  title="commentaire" class="glyphicon glyphicon glyphicon-comment"></span>
                            <span style="margin-left: 5%;cursor: pointer;" title="finalisé" class="glyphicon 	glyphicon glyphicon-ok"></span>
                        </td>
                     </tr>
              </table>
            </div>
    </div>
    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Commentaire</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
              
               <form  #patientForm="ngForm">
                  <div class="fform-group">
                    <!-- <label class="control-label">Commentaire</label>
                     <input class="form-control" type="text" name="dateRn" required
                     [(ngModel)]="dateRV"
                     #name="ngModel">-->
                     <textarea class="form-control" name="description" rows="3" cols="10" required
                     [(ngModel)]="commentaires"
                     #name="ngModel"></textarea>
                  </div>
                 <p></p>
                 <div class="form-group">
                   <input type="submit" class="btn btn-success" value="" (click)="modalRef.hide()" value="Valider">
                 </div>
                </form>
          </div>
         
        </div>
      </ng-template>
      <ng-template #template1>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Etat d'abonnement</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-default">
                <p>L'abonnement du client <strong>{{prenom}} {{nom}}</strong> est en <strong>{{abEtat}}</strong> arrive à échéance le <strong>{{infos.date}}</strong></p>
          </div>
        </div>
      </ng-template>
      <ng-template #template2>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Catégoriser</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
              
               <form  #patientForm="ngForm">
                  <div class="fform-group">
                     <label class="control-label">Catégorie</label>
                     <select class="form-control" type="text" name="cat" required
                     [(ngModel)]="categoties"
                     #name="ngModel">
                              <option *ngFor="let c of Categorie;let i=index" value="{{c.cat}}"> {{c.cat}}</option>
                    </select> 
                    <div *ngIf="categoties=='A rappeller' || categoties=='Mécontent'">
                        <label class="control-label">Commentaire</label>
                      <textarea class="form-control" name="description" rows="3" cols="10" required
                      [(ngModel)]="commentaires"
                      #name="ngModel"></textarea>
                    </div>   
                  </div>
                 <p></p>
                 <div class="form-group">
                   <input type="submit" class="btn btn-success"  (click)="modalRef2.hide()" value="Valider">
                 </div>
                </form>
          </div>
         
        </div>
      </ng-template>
      <ng-template #template3>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Abonner</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef3.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
              
               <form  #patientForm="ngForm">
                  <div class="fform-group">
                     <label class="control-label">Operateur</label>
                     <select class="form-control" type="text" name="Operateur" required
                     [(ngModel)]="Operateur"
                     #name="ngModel">
                              <option *ngFor="let c of Operateurs;let i=index" value="{{c.nom}}"> {{c.nom}}</option>
                    </select> 
                    <div *ngIf="Operateur=='Orange Money' || Operateur=='Tigo Cash' || Operateur=='e-Money' ">
                      <label class="control-label">Nom bénéficiaire</label>
                      <select class="form-control" type="text" name="Beneficiaires" required
                              [(ngModel)]="Beneficiaires"
                              #name="ngModel">
                               <option *ngFor="let b of Beneficiaire;let i=index" value="{{b.nom}}"> {{b.nom}}</option>
                     </select> 
                    </div>   
                    <div *ngIf="Beneficiaires=='Amadou' || Beneficiaires=='Oumou' || Beneficiaires=='Autres'">
                       <div *ngIf=" Beneficiaires=='Autres'">
                            <label class="control-label"> bénéficiaire</label>
                            <input  class="form-control" type="text" name="Beneficiaires" required
                             [(ngModel)]="BeneficiairesAutre"
                            #name="ngModel" placeholder="Donner son nom" >
                        </div>
                      <label class="control-label">Type de service</label>
                      <select class="form-control" type="text" name="TypeServices" required
                              [(ngModel)]="TypeServices"
                              #name="ngModel">
                               <option *ngFor="let c of TypeService;let i=index" value="{{c.nom}}"> {{c.nom}}</option>
                     </select> 
                    </div>   
                  </div>
                 <p></p>
                 <div class="form-group">
                   <input type="submit" class="btn btn-success"  (click)="abonner();modalRef3.hide()" value="Valider">
                 </div>
                </form>
          </div>
         
        </div>
      </ng-template>
  </div>
</div>
