<p>
</p>
<div class="container col-md-12 primary" >
  <div class="panel">
    <div class="panel-heading" ></div>
    <div class="panel panel-body">
         <div class="form-group" >
            <button class="btn btn-primary" (click)="listeA()" style="margin-left: 40%;cursor: pointer;" >Liste Client</button>
            <button class="btn btn-primary" (click)="porte()" style="margin-left: 3%;cursor: pointer;">Suivi</button>
          </div>
         
          <div *ngIf="liste==0">
              <div class="form-group col-md-6">
                  <input  class="form-control" type="text" name="filtre" required
                   [(ngModel)]="filtres"
                  #name="ngModel" placeholder="Filtrer" >
              </div>
              <table class="table table-bordered table-stripped">
              <tr>
                <th><input type="checkbox" (click)="sellectedAll=true"   value="tout Cocher"> </th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Option</th>
              </tr>
                  <tr *ngFor="let a of Abonner | filterBy: ['prenom']: filtres;let i=index" >
                      <td > <input type="checkbox" ></td>
                      <td>{{a.prenom}}</td>
                      <td>{{a.nom}}</td>
                      <td>{{a.tel}}</td>
                      <td><span style="margin-left: 5%;cursor: pointer;" title="etat" class="glyphicon  glyphicon-bookmark"></span>
                          <span style="margin-left: 5%;cursor: pointer;" (click)="abonner(i)" title="abonner" class="glyphicon glyphicon-saved"></span>
                          <span style="margin-left: 5%;cursor: pointer;" (click)="openModal(template);comment(i)" title="commentaire" class="glyphicon  glyphicon-comment"></span>
                          <span style="margin-left: 5%;cursor: pointer;"(click)="finaliser(i)" title="finalisé" class="glyphicon 	glyphicon glyphicon-ok"></span>
                      </td>
                   </tr> 
            </table>
          </div>
          <div *ngIf="port==1">
               <div class="form-group">
                   <a class="btn btn-default" style="margin-left: 2%;cursor: pointer;" (click)="tout()"> tout afficher</a>
                    <a class="btn btn-danger" style="margin-left: 10%;cursor: pointer;" (click)="rouge()"> non abonné</a>
                    <a class="btn btn-warning" style="margin-left: 2%;cursor: pointer;" (click)="orange()"> abonné delais proche</a>
                    <a class="btn btn-success" style="margin-left: 2%;cursor: pointer;" (click)="vert()"> abonné</a>
                    
               </div>
              <table class="table table-bordered table-stripped">
                <tr>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Téléphone</th>
                  <th>Commantaire</th>
                  <th>Option</th>
                </tr>
                    <tr *ngFor="let a of Abonner | filterBy: ['etat']: filtrePortFeuille;let i=index"  [ngStyle]="{'background-color':getColor(a.etat)}">
                        <td >{{a.prenom}}</td>
                        <td >{{a.nom}}</td>
                        <td >{{a.tel}}</td>
                        <td >{{a.commentaire}}</td>
                        <td ><span style="margin-left: 5%;cursor: pointer;" title="etat" class="glyphicon glyphicon glyphicon-bookmark"></span>
                            <span style="margin-left: 5%;cursor: pointer;" (click)="abonner(i)"  title="abonné" class="glyphicon  glyphicon-saved"></span>
                           <span style="margin-left: 5%;cursor: pointer;"  title="commentaire" class="glyphicon glyphicon glyphicon-comment"></span>
                            <span style="margin-left: 5%;cursor: pointer;" title="finalisé" class="glyphicon 	glyphicon glyphicon-ok"></span>
                        </td>
                     </tr>
              </table>
            </div>
    </div>
    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Commentaire</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
              
               <form (ngSubmit)="onClick()"  #patientForm="ngForm">
                  <div class="fform-group">
                    <!-- <label class="control-label">Commentaire</label>
                     <input class="form-control" type="text" name="dateRn" required
                     [(ngModel)]="dateRV"
                     #name="ngModel">-->
                     <textarea class="form-control" name="description" rows="3" cols="10" required
                     [(ngModel)]="commentaires"
                     #name="ngModel"></textarea>
                  </div>
                 <p></p>
                 <div class="form-group">
                   <input type="submit" class="btn btn-success" value="" (click)="comment(i);modalRef.hide()" value="Valider">
                 </div>
                </form>
          </div>
         
        </div>
      </ng-template>
  </div>
</div>
