<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CRM TNT</a>
  </div >
  <!-- /.navbar-header -->

          <div class="navbar-collapse collapse navbar-right"style="margin-right: 5%">
                  <ul class="nav navbar-nav">
                      <li class="active"><a >Accueil</a>
                      </li>
                      <li style="cursor: pointer;"><a routerLink="/supervideur">Superviseur</a>
                      </li>
                      <li style="cursor: pointer;"><a routerLink="/login" routerLinkActive="active">Déconnexion</a></li>
                 
                   </ul>
              </div>
             
</nav>
<div class="container col-md-12 primary" >
  <div class="panel">
    <div class="panel-heading" ></div>
    <div class="panel panel-body">
         <div class="form-group" >
            <button class="btn btn-primary" (click)="listeA()" style="margin-left: 40%;cursor: pointer;" >Liste Client</button>
            <button class="btn btn-primary" (click)="porte()" style="margin-left: 3%;cursor: pointer;">Suivi</button>
        </div>
        
          <div *ngIf="liste==0">
              <div class="form-group col-md-6">
                  <input  class="form-control" type="text" name="filtre" required
                   [(ngModel)]="filtres"
                  #name="ngModel" placeholder="Filtrer" >
              </div>
              <div class="form-group">
                  <pagination [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"></pagination>
              </div>
               <table class="table table-bordered table-stripped">
               <tr>
               <th>
               <input type="checkbox" name="checke"  [(ngModel)]="checke"  (click)="checks()"> tout coché</th>
            
                 <th>Prenom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Option   <a class="btn btn-default"><span style="margin-left: 5%;cursor: pointer;" (click)="affecters(i);openModal(template)"title="Affecter" class="glyphicon 	 glyphicon-list-alt"> affecters</span> </a></th>
              </tr>
                  <tr class="content-item" *ngFor="let l of returnedArray" >
                      <td > 
                          <input type="checkbox" (click)="cocher(i)" >
                       </td>
                      <td>{{l.Firstname}}</td>
                      <td>{{l.Lastname}}</td>
                      <td>{{l.Phone}}</td>
                      <td><span style="margin-left: 5%;cursor: pointer;" (click)="getEtat(a.etat,i)" title="etat" class="glyphicon  glyphicon-bookmark"></span>
                        <span style="margin-left: 5%;cursor: pointer;" (click)="affecter(i);openModal(template)" title="Affecter" class="glyphicon 	 glyphicon-list-alt"></span>
                      </td>
                   </tr> 
            </table>
            <a  style="margin-left: 95%;cursor: pointer;" class="btn btn-default" (click)="demander()">Suivant</a> 
          </div>
          <div *ngIf="port==1">
               <div class="form-group">
                   <a class="btn btn-default" style="margin-left: 2%;cursor: pointer;" (click)="tout()"> tout afficher</a>
                    <a class="btn btn-danger" style="margin-left: 10%;cursor: pointer;" (click)="rouge()"> non abonné</a>
                    <a class="btn btn-warning" style="margin-left: 2%;cursor: pointer;" (click)="orange()"> abonné delais proche</a>
                    <a class="btn btn-success" style="margin-left: 2%;cursor: pointer;" (click)="vert()"> abonné</a>
                    
               </div>
              <table class="table table-bordered table-stripped">
                <tr>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Téléphone</th>
                  <th>Commantaire</th>
                  <th>Option</th>
                </tr>
                    <tr *ngFor="let a of Abonner | filterBy: ['etat']: filtrePortFeuille;let i=index"  [ngStyle]="{'background-color':getColor(a.etat)}">
                        <td >{{a.prenom}}</td>
                        <td >{{a.nom}}</td>
                        <td >{{a.tel}}</td>
                        <td >{{a.commentaire}}</td>
                        <td ><span style="margin-left: 5%;cursor: pointer;" (click)="getEtat(a.etat,i)" title="etat" class="glyphicon glyphicon glyphicon-bookmark"></span>
                            <span style="margin-left: 5%;cursor: pointer;" (click)="abonner(i)"  title="abonné" class="glyphicon  glyphicon-saved"></span>
                           <span style="margin-left: 5%;cursor: pointer;"  title="commentaire" class="glyphicon glyphicon glyphicon-comment"></span>
                            <span style="margin-left: 5%;cursor: pointer;" title="finalisé" class="glyphicon 	glyphicon glyphicon-ok"></span>
                        </td>
                     </tr>
              </table>
            </div>
    </div>
    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Affectation</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
              
               <form  #patientForm="ngForm">
                  <div class="fform-group">
                     <label class="control-label">Commerciale</label>
                     <select class="form-control" type="text" name="dateRn" required
                     [(ngModel)]="dateRV"
                     #name="ngModel">
                        
                        <option *ngFor="let c of listeCC;let i=index" >{{c.prenom}} {{c.nom}}</option>
                    </select>    
                  </div>
                 <p></p>
                 <div class="form-group">
                   <input type="submit" class="btn btn-success" value="" (click)="comment(i);modalRef.hide()" value="Valider">
                 </div>
                </form>
          </div>
         
        </div>
      </ng-template>
  </div>
</div>
